/* media quary */

@media (max-width: 800px) {
  /* == nav bar mobile == */
  #heading .nav-bar .nav-bar-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5rem;
    position: fixed;
    top: 0;
    right: -30rem;
    width: 30rem;
    height: 100vh;
    background-color: #e3e6f3;
    padding: 8rem 0 0 4rem;
    transition: 0.3s;
  }

  #heading .nav-bar .nav-bar-list.active {
    right: 0;
  }

  #mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  #mobile i {
    font-size: 3rem;
    color: #1a1a1a;
    cursor: pointer;
  }

  #close {
    display: flex;
    position: absolute;
    font-size: 3rem;
    top: 2rem;
    left: 4rem;
    color: #222;
    cursor: pointer;
    text-decoration: none;
  }

  #bag {
    display: none;
  }

  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
  }


/* == feature section== */
  #feature {
    justify-content: center;
  }
  
  #feature .box{
    margin: 1rem 1rem;
  }

  
  /* == banner large == */
  #banner1 {
    grid-template-columns: repeat(1, 1fr);
  }

  #banner1 .banner-box {
    height: 40vh;
  }

  #banner3 .banner-box {
    width: 100%;
    height: 32vh;
    margin-block: 0.5rem;
  }

  #banner {
    height: 30vh;
  }

  #banner h2 {
    font-size: 3rem;
  }
}
