@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --heading-color: #222;
  --para-color: #465b52;
  --background-color: #e3e6e3;
  --main-color: #088178;
}

/* Global Styles */

h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: var(--heading-color);
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: var(--heading-color);
}

h4 {
  font-size: 2rem;
  color: var(--heading-color);
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: var(--para-color);
  margin: 1.5rem 0 2rem 0;
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

body {
  width: 100%;
}

button.btn {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.2rem 2rem;
  color: #fff;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
  transition: 0.3s;
  /* font-size: 1.6rem; */
}

button.btn:hover {
  border: 0.1rem solid var(--main-color);
  /* outline: none; */
  background-color: var(--main-color);
}

/* == nav bar == */

#heading {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 1000;
}

#heading .logo {
  cursor: pointer;
}

#heading .nav-bar .nav-bar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#heading .nav-bar .nav-bar-list li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
}

#heading .nav-bar .nav-bar-list li a {
  text-decoration: none;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#heading .nav-bar .nav-bar-list li a:hover,
#heading .nav-bar .nav-bar-list li a.active {
  color: var(--main-color);
}

#heading .nav-bar .nav-bar-list li a.active::after,
#heading .nav-bar .nav-bar-list li a:hover::after {
  content: "";
  width: 2.4rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.4rem;
  background-color: var(--main-color);
}

/* == hero == */

#hero {
  width: 100%;
  height: 90vh;
  background-image: url(img/hero4.png);
  background-position: top 2.4rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 8rem;
  text-transform: capitalize;
  margin: 7rem 0 0 0;
}

#hero h4 {
  margin-bottom: 1.5rem;
}

#hero h1 {
  color: var(--main-color);
}

#hero button {
  background-image: url(img/button.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 5rem;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--main-color);
  cursor: pointer;
}

/* == feature == */

#feature {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#feature .box {
  width: 18rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
  border: 0.1rem solid #cce7d0;
  border-radius: 0.4rem;
  margin: 1.5rem 0;
}

#feature .box img {
  width: 100%;
  margin-bottom: 1.5rem;
}

#feature .box h6 {
  text-transform: capitalize;
  display: inline-block;
  color: var(--main-color);
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.4rem;
  background-color: #fddde4;
}

#feature .box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/* == product == */

#product1 {
  text-align: center;
}

#product1 h2,
#product1 p {
  text-transform: capitalize;
}

#product1 .container-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
}

#product1 .container-box .main-box {
  width: 23%;
  padding: 1rem 1.2rem;
  border: 0.1rem solid var(--background-color);
  border-radius: 2rem;
  position: relative;
  transition: 0.2s;
}

#product1 .container-box .main-box:hover {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#product1 .container-box .main-box img {
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
}

#product1 .container-box .main-box .descrition {
  text-align: start;
  padding: 1rem 0;
}

#product1 .container-box .main-box .descrition span {
  font-size: 1.2rem;
  color: #606063;
}

#product1 .container-box .main-box .descrition h5 {
  font-size: 1.4rem;
  text-transform: capitalize;
  padding-top: 0.7rem;
  color: #1a1a1a;
}

#product1 .container-box .main-box .descrition .star i {
  padding-top: 0.7rem;
  font-size: 1.2rem;
  color: #f3b519;
}

#product1 .container-box .main-box .descrition h4 {
  padding-top: 0.7rem;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 700;
}

#product1 .container-box .main-box a {
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid var(--background-color);
  border-radius: 50rem;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f6ea;
  font-weight: 500;
  text-decoration: none;
}

#product1 .container-box .main-box a i {
  font-size: 1.5rem;
  color: var(--main-color);
}

/* == banner == */

#banner {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  background-image: url(img/banner/b2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner h4 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
}

#banner h2 {
  color: #fff;
  padding: 1.5rem 0;
  font-weight: 600;
  font-size: 3.6rem;
  text-transform: capitalize;
}

#banner h2 span {
  color: #d21b1b;
}

/* == banner1 == */
#banner1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

#banner1 .banner-box {
  height: 35rem;
  background-image: url(img/banner/b17.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}

#banner1 .banner2{
  background-image: url(img/banner/b18.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
